global
    maxconn 4096
    nbthread 1

defaults
    mode http
    timeout connect 500ms
    timeout client 2s
    timeout server 2s
    option http-keep-alive

listen api
    bind *:9999
    balance roundrobin
    server api1 /socks/api1.sock no-check
    server api2 /socks/api2.sock no-check
    http-reuse always
