global
    maxconn 4096
    nbthread 2

defaults
    mode http
    timeout connect 1s
    timeout client 2s
    timeout server 2s
    option http-keep-alive

listen api
    bind *:9999
    balance roundrobin
    server api1 api1:3000 check inter 2s rise 2 fall 3
    server api2 api2:3000 check inter 2s rise 2 fall 3
    http-reuse aggressive
